@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-terracotta-300: oklch(0.7462 0.1218 48.07);
  --color-terracotta-400: oklch(0.6876 0.107 49.28);
  --color-terracotta-500: oklch(0.576 0.1237 46.95);
  --color-ash-300: oklch(0.8928 0.0081 106.56);
  --color-ash-500: oklch(0.6688 0.0173 110.73);
  --color-ash-600: oklch(0.5478 0.0167 111.16);
  --color-sand-50: oklch(0.9877 0.0054 95.1);
  --color-sand-100: oklch(0.9307 0.0194 80.12);
  --color-sand-200: oklch(0.8792 0.026 73.16);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
