@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-terracotta-200: oklch(0.8401 0.0701 50.17);
  --color-terracotta-300: oklch(0.7462 0.1218 48.07);
  --color-terracotta-400: oklch(0.6876 0.107 49.28);
  --color-terracotta-500: oklch(0.576 0.1237 46.95);
  --color-ash-100: oklch(0.9818 0.0054 95.1);
  --color-ash-200: oklch(0.9535 0.008 106.55);
  --color-ash-300: oklch(0.8928 0.0081 106.56);
  --color-ash-400: oklch(0.7786 0.0194 106.84);
  --color-ash-500: oklch(0.6688 0.0173 110.73);
  --color-ash-600: oklch(0.5478 0.0167 111.16);
  --color-ash-900: oklch(0.0959 0.0052 107.35);
  --color-sand-50: oklch(0.9877 0.0054 95.1);
  --color-sand-75: oklch(0.9618 0.0086 84.57);
  --color-sand-100: oklch(0.9307 0.0194 80.12);
  --color-sand-200: oklch(0.8792 0.026 73.16);
  --color-sand-500: oklch(0.5648 0.0207 70.04);
  --color-ffern-green-50: oklch(0.9564 0.0217 149.71);
  --color-ffern-green-100: oklch(0.9013 0.046 136.21);
  --color-ffern-green-900: oklch(0.2554 0.0687 144.6);
  --color-ffern-red-50: oklch(0.9568 0.0221 7.17);
  --color-ffern-red-200: oklch(0.7716 0.1024 19.67);
  --color-nav-grey: oklch(0.8038 0.0347 73.11);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
